/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    background-image: url("./images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 70px;
}

#message-el {
    font-style: italic;
    font-size: 40px;
}

p {
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-btn {
    margin-top: 10px;
}

.btn {
    color: #016f32;
    width: 250px;
    font-weight: bold;
    background: goldenrod;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}